<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/fristle/" target="_blank">@fristle</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/michael-myers/" target="_blank">@michael-myers</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/michael-myers-1016774" target="_blank">linkedin.com/in/michael-myers-1016774</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://michael-myers.github.io/" target="_blank">michael-myers.github.io</a></p>
<p><i class="fa fa-phone fa-lg fa-fw"></i> <a href="https://whispersystems.org" target="_blank">708-374-7853 on Signal</a></p>
<p><i class="fa fa-id-badge fa-lg fa-fw"></i> <a href="https://news.clearancejobs.com/2012/08/06/what-is-jpas-joint-personnel-adjudication-system/" target="_blank">U.S. Security Clearances: Yes</a></p>
